<div class="blueBg">
    <div class="box signin">
        <h2>Đăng nhập</h2>
        <p class="infologin">Nào giỡ hãy cùng trãi nghiệm những điều
            mới lạ đang chờ đón bạn phía
            trước nhanh tay lên nào.</p>
        <button class="signinBtn">Đăng nhập</button>
    </div>
    <div class="box signup">
        <h2>Bạn quên mật khẩu ?</h2>
        <p class="infologin">Bạn đã vô tình quên mật khẩu của mình? Không sao, chúng tôi sẽ lấy lại cho bạn.</p>
        <button class="signupBtn">Quên mật khẩu</button>
    </div>
</div>