<div>
    <b> 1. Đi tham quan:</b> Nếu nơi bạn đến là một thành phố hoàn toàn mới lạ, hãy nhớ dành chút thời 
gian khám phá trong vài ngày trước hoặc sau khi buổi hội thảo diễn ra. Hãy tìm hiểu trước về 
những danh lam thắng cảnh mà bạn muốn tới nhé. Việc này không chỉ giúp các phiên dịch 
viên nhà mình thư giãn và ghi lại dấu ấn trong mỗi chuyến công tác mà còn giúp tích lũy 
thêm kiến thức nền thú vị gồm những địa chỉ bỏ túi hay tập tục thú vị ở địa phương
<br><br>
<b>2. Kiểm tra lại danh thiếp của bản thân: </b>Hãy kiểm tra danh thiếp của mình thật kỹ trước khi 
tham dự hội thảo. Rất có thể, danh thiếp của bạn lại cần bổ sung hoặc cập nhật thông tin gì đó 
mới thì sao? (như thay đổi số điện thoại chẳng hạn). Các phiên dịch viên nên mang theo ít 
nhất là 100 tờ danh thiếp, thậm chí còn nhiều hơn nữa nếu bạn là diễn giả hoặc có kế hoạch 
tham dự một vài sự kiện xây dựng mối quan hệ. Quan trọng nhất là đừng quên mang theo 
chúng trước khi ra khỏi nhà nhé!
<br><br>
<b>3. Chuẩn bị các tài liệu để quảng cáo Công ty hoặc bản thân:</b> Những tài liệu này có thể gồm 
tờ rơi, tờ bướm về công việc dịch thuật của bạn. Các phiên dịch tự do thường không mang 
những tài liệu này tới các hội thảo dịch thuật lớn, vì thông thường ở đó không có nhiều khách 
hàng trực tiếp, mà phần lớn là các Công ty cung cấp dịch vụ biên phiên dịch. Những Công ty 
dịch thuật này sẽ rất ấn tượng nếu bạn chuẩn bị cho mình một bản CV được chăm chút kỹ 
lưỡng.
<br><br>
<b>4. CV:</b> Hãy kiểm tra và cập nhật thêm thông tin cần thiết cho CV của bạn. Hãy chú ý tới độ dài 
của CV sao cho không quá 1 đến 2 trang, và thử in ra giấy. Sau đó hãy chọn một loại giấy chất 
lượng thật tốt, thường là giấu trắng tinh hoặc trắng ngà và sao chụp thành 50 đến 100 bản. 
Nhiều khả năng khách hàng tiềm năng hoặc các Công ty dịch thuật sẽ tiếp cận bạn và hỏi xin 
CV của bạn đấy.
<br><br>
<b>5. Liên lạc với những người bạn muốn tạo dựng quan hệ:</b> Sắp xếp thời gian và thứ tự ưu tiên
 liên lạc với những người mới quen mà bạn muốn tiếp cận hoặc gặp gỡ người quản lý và điều 
phối hoạt động dịch mà bạn mong muốn được hợp tác. Danh sách những người tham dự hội 
thảo được gửi đến vào ngày diễn ra hội thảo hoặc một ngày trước đó có thể sẽ giúp ích cho 
bạn.
              
</div>