<div>
   <b> Trường hợp hủy bỏ dịch vụ từ BK Travel & Event:</b>
   <br><br>

- Nếu BK Travel & Event không thực hiện được chuyến du lịch/ dịch vụ, 
công ty phải báo ngay cho khách hàng biết và thanh toán lại cho khách hàng 
toàn bộ số tiền mà khách hàng đã đóng trong vòng 3 ngày kể từ lúc chính thức 
thông báo hủy chuyến đi/ dịch vụ du lịch bằng hình thức tiền mặt hoặc chuyển khoản.
<br><br>
   <b> Trường hợp hủy bỏ dịch vụ từ Quý khách hàng:</b>
   <br><br>
- Trong trường hợp không thể tiếp tục sử dụng dịch vụ/ tour, Quý khách phải thông báo cho Công ty bằng văn bản hoặc email (Không giải quyết các trường hợp liên hệ chuyển/ hủy tour qua điện thoại). Đồng thời Quý khách vui lòng mang Biên bản đăng ký tour/ dịch vụ & biên lai đóng tiền đến văn phòng BK Travel & Event để làm thủ tục hủy/ chuyển tour.
+ Các trường hợp chuyển/ đổi dịch vụ/ tour: Cty sẽ căn cứ xem xét tình hình thực tế để tính phí và có mức hỗ trợ Quý khách hàng
+ Trường hợp hủy dịch vụ/ tour: Quý khách phải chịu chi phí hủy tour/ dịch vụ theo quy định của Vietnam Booking và toàn bộ phí ngân hàng cho việc thanh toán trực tuyến.
<br><br>
<b> Phí hủy được quy định như sau:</b>
<br><br>
- Trước 25 ngày khởi hành: Không tính phí.
- Trước 15 ngày khởi hành: 50% giá tour.
- Trước 3 ngày khởi hành: 100% giá tour.
- Trường hợp quý khách đến trễ giờ khởi hành được tính là hủy 3 ngày trước ngày khởi hành.
<br><br>
<b> Giai đoạn Lễ/Tết: không hoàn, không hủy, không đổi.</b>
<br><br>
- Việc huỷ bỏ chuyến đi phải được thông báo trực tiếp với Công ty hoặc qua fax, email, tin nhắn và phải được Công ty xác nhận. Việc huỷ bỏ bằng điện thoại không được chấp nhận.
- Các ngày đặt cọc, thanh toán, huỷ và dời tour: không tính thứ 07, Chủ Nhật.
</div>