     <!-- san pham them -->
     <div class="row" style="margin-top: 50px;">

       <div class="col-md-12">
         <div style="border-left: 5px solid orange; margin-left: 15px;"></div>
         <h2 style="color: #FF9922; margin-left: 30px; ">Các sự kiện cùng loại</h2>
       </div>
       <div class="col-md-12">
         <th:block th:each="e : *{event.eventPosts}" th:object="${e}">
         <div class="card mb-3"  th:if="*{isDeleted == false AND status == 'DUYET'}">
           <div class="row g-0">
             <div class="col-4">
               <a th:href="@{|/event/detail/*{eventPostId}|}">
                 <img th:src="@{|/assets/images/event/*{folder}/*{primaryImage}|}" class=" img-more"
                   alt="...">
               </a>

             </div>
             <div class="col-md-8">
               <div class="card-body">
                 <h5 class="card-title">[[*{name}]]</h5>
                 <p class="card-text"><b
                     style="background-color: aquamarine; border-radius: 15px; margin-right: 10px;">4.5</b>
                     | 330 đánh giá</p>
                 <p class="card-text" style="color: white; background-color: #FF9922; width: 25%;  padding: 10px;">
                   [[*{#numbers.formatDecimal(priceEvent, 0, 'POINT', 0, 'COMMA')}]] vnd</p>
                </div>
              </div>
            </div>        
          </div>
        </th:block>
       </div>
     </div>