<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutIntroduce :: dynamic(~{::main})}">

<body>
  <main>
    <div id="carouselExampleIndicators" class="carousel slide img1" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="v-slide active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/images/teambuilding/av/bd.png">
        </div>
      </div>
    </div>
    </header>


    <article style="background-color: #F1F2F2;">
      <div class="container">
        <div class="mt-4">
          <h2
            style="width: 40%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em; margin: 10px 0 20px; margin-right: auto; margin-left: auto; display: block;">
            <span style="background-color: #F1F2F2; padding: 0 20px;">Team building</span>
          </h2>
        </div>
        <div style="margin-left: auto;margin-right: auto;width: 59%; margin-top: 50px; margin-bottom: 50px;">
          <p>Team building nghĩa là gì ? Tạm dịch tiếng Việt thì từ này có nghĩa là “Xây dựng đồng đội”.
             Bản chất, nó là một khóa học hoặc một cuộc thi có các trò chơi cho những người tham gia trải nghiệm 
             các tình huống, thử thách đã được sắp xếp sẵn để họ rút ra những bài học thực tiễn nhằm điều chỉnh 
             thái độ và hành vi khi làm việc chung với nhau. Mục tiêu cuối cùng của team building là giúp họ cùng 
             hướng đến mục tiêu chung của tổ chức. Bởi cốt lõi của một tập thể phát triển vững mạnh đó chính là sự
             gắn kết giữa các thành viên, làm sao để mỗi người trong tổ chức đều cảm thấy bản thân có giá trị và 
             quan trọng.</p>
          <p>Team building không đơn thuần là các trò chơi thông thường mà team building là một chuỗi các hoạt 
            động theo một concept cụ thể nhằm đạt được một mục đích chung: sự gắn kết, sáng tạo và phát triển văn 
            hóa doanh nghiệp. Các trò chơi team building thường được chia ra thành trò chơi team building trong 
            nhà và team building ngoài trời. 
          </p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <img src="/assets/images/teambuilding/bl2.jpg" style="width: 100%; height: 100%;">
          </div>
          <div class="col-4">
            <img src="/assets/images/teambuilding/bl4.jpg" style="width: 100%; height: 100%;">
          </div>
          <div class="col-4">
            <img src="/assets/images/teambuilding/hoi1.jpg" style="width: 100%; height: 100%;">
          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div class="col-4">
            <img src="/assets/images/teambuilding/hoithao.jpg" style="width: 100%; height: 100%;">
          </div>
          <div class="col-4">
            <img src="/assets/images/teambuilding/kt.jpg" style="width: 100%; height: 100%;">
          </div>
          <div class="col-4">
            <img src="/assets/images/teambuilding/tiecbien.jpg" style="width: 100%; height: 100%;">
          </div>
        </div>
      </div>

    </article>
  </main>
</body>

</html>