<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout :: dynamic(~{::main})}">

<body>
    <main>
        <div th:replace="/Profile/menu_Profile"></div>
        <div class="container-fluid" style="background-color: #F0F6F9">
            <br>
            <div class="nhapTT">
                <h3 class="text10" style="margin-bottom: 20px;">Các câu hỏi phổ biến</h3>
                <div class="gach"></div>

                <div style="width: 90%;margin-left: auto;margin-right: auto;">
                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Có thu phí cho những đơn hàng
                        bị hủy không</a>
                    <div style="margin-left: 25px;">
                        <p>BK Travel chỉ thu phí khi doanh nghiệp chốt thành công đơn hàng và thu theo % cố định đã thõa
                            hiệp trước với doanh nghiệp.</p>
                        <p>Chúng tôi không thu phí khi đơn hàng của bạn bị hủy, hoặc có bất kì thay đổi nào từ phía
                            người dùng ngoài hợp đồng thỏa thuận</p>
                    </div>

                    <hr>
                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Có trợ giá hay khuyến mãi cho
                        doanh nghiệp không?</a>
                    <div style="margin-left: 25px;">
                        <p>Hổ trợ doanh nghiệp hết mình trong việc quảng bá sản phẩm đến tay khách hàng. </p>

                        <p>Để đồng hành lâu dài cùng các đối tác chúng tôi sẽ tổ chức các chương trình khuyến mãi nhằm
                            kích ứng nguồn khách hàng tiềm năng cho doanh nghiệp.</p>
                    </div>

                    <hr>
                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Quảng cáo trên BK Travel &
                        Event là gì?</a>
                    <div style="margin-left: 25px;">
                        <p>Quảng cáo BK Travel là giải pháp giúp đưa sản phẩm của doanh nghiệp tiếp cận dễ dàng hơn và
                            xuất hiện ở vị trí nổi bật thu hút Người dùng trên BK Travel. </p>
                        <p>Quảng cáo BK Travel giúp thúc đẩy một lượng lớn khách hàng truy cập và tìm thấy sản phẩm cũng
                            như thông tin doanh nghiệp. Trong bối cảnh nhiều Người sử dụng, phần lớn dành thời gian đặt
                            dịch vụ online đây là điều quan trọng mà doanh nghiệp không được bỏ lỡ những đối tượng khách
                            tiềm năng mới này.</p>
                    </div>
                    <hr>

                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Xử lý thế nào về khiếu nại của
                        người dùng về doanh nghiệp?</a>
                    <div style="margin-left: 25px;">
                        <a>Đánh giá doanh nghiệp là số trung bình của tất cả các đánh giá dịch vụ.</a><br>
                        <a>Đánh giá doanh nghiệp được hiển thị công khai trên thông tin doanh nghiệp.</a><br>
                        <a>Việc đánh giá doanh nghiệp chính xác sẽ giúp ích cho cả Người mua và Người bán trong cộng
                            đồng BK Travel.</a>
                        <a>Người bán có thể khiếu nại Phần đánh giá mà Người mua dành cho doanh nghiệp. </a> <br><br>
                        <p>Bk Travel sẽ xem xét và phản hồi khiếu nại của Người bán trong vòng 3 ngày làm việc.</p>
                        <a>Đánh giá của Người mua sẽ bị ẩn đi trên BK Travel nếu có nội dung bao gồm 1 trong các đặc
                            điểm sau:</a>

                        <p> &#160; &#8901; Chứa ngôn từ không phù hợp (VD: từ ngữ tục tĩu, lăng mạ người khác)</p>
                        <p> &#160; &#8901; Chứa thông tin cá nhân (VD: địa chỉ, số điện thoại, tài khoản ngân hàng)</p>
                        <p> &#160; &#8901; Có nhiều kí tự, icon, từ ngữ lặp đi lặp lại nhiều lần</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </main>
</body>

</html>