<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout :: dynamic(~{::main})}">

<body>
    <main>
        <div th:replace="/Profile/menu_Profile"></div>
        <div class="container-fluid" style="background-color: #F0F6F9">
            <br>
            <div class="nhapTT">
                <h3 class="text10" style="margin-bottom: 20px;">Các câu hỏi phổ biến</h3>
                <div class="gach"></div>

                <div style="width: 90%;margin-left: auto;margin-right: auto;">
                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Làm sao để hủy đơn và được hoàn
                        tiền</a>
                    <div style="margin-left: 25px;">
                        <p>Bạn có thể gửi yêu cầu hủy đơn trong vòng 24 ngày tính từ lúc hủy đơn</p>
                        <p>**Hủy miễn phí**</p>
                        <p>Sau khi hủy đơn tiền sẽ được trả về tài khoản của bạn theo lịch làm việc hành chính của ngân
                            hàng hoặc đơn vị ứng dụng thanh toán liên quan .</p>
                        <a>Truy cập mục Trạng thái đơn đặt trên Booking Travel</a><br>
                        <a>Tìm đơn hàng muốn huỷ và chọn ""Hủy đơn""</a><br>
                        <a>Đợi xét duyệt và hoàn tiền về đúng stk hoặc phương thức bạn đã thanh toán</a><br>
                    </div>

                    <hr>
                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Khi nào tài khoản tôi nhận được
                        tiền khi hủy?</a>
                    <div style="margin-left: 25px;">
                        <p>Việc hoàn tiền sẽ được thực thi khi hoàn tất quá trình hủy </p>

                        <a>Tiền sẽ được chuyển về theo đúng STK hoặc phương thức thanh toán người dùng lựa chọn, trong
                            vòng 24h kể từ khi hủy đơn theo lịch hành chính của ngân hàng từ thứ 2 đến thứ 7 hàng
                            tuần.</a>
                    </div>

                    <hr>
                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Nếu làm mất đồ tong chuyến đi
                        thì sao?</a>
                    <div style="margin-left: 25px;">
                        <p>Việc này phụ thuộc vào chính sách của đối tác doanh nghiệp nơi bạn sử dụng dịch vụ, tùy theo
                            địa điểm và doanh nghiệp sẽ có một chính sách khác nhau, vui lòng thông báo cho người tổ
                            chức khi có vật quý giá trong hành trang cần được bảo quản.</p>
                        <p>BK Travel sẽ hổ trợ khách hàng hết mình, nhằm đảm bảo quyền lợi khách hàng một cách tối ưu
                            nhất, chúng tôi sẽ làm việc với đối tác khi sãy ra các vấn đề tiêu cực, trong trãi nghiệm
                            của khách hàng từ chuyến đi.</p>
                    </div>
                    <hr>

                    <a style="color: #fb4b11;"> &#8857; </a> <a style="font-size: 18px;">Tôi muốn khiếu nại về dịch
                        vụ.</a>
                    <div style="margin-left: 25px;">
                        <p>BK Travel sẽ bảo vệ quyền lợi khách hàng một cách tối ưu nhất khi xãy ra sai sót từ phía đối
                            tác, chúng tôi có những chính sách phạt khi doanh nghiệp thực hiện sai sót, trong việc tổ
                            chức chuyến đi cho khách hàng.</p>
                        <p>Bên cạnh đó chúng tôi có những đền bù thiệt hại hoặc khuyến mãi tặng kèm khi nhận những sai
                            sót gây ảnh hưởng đến trãi nghiệm dịch vụ của khách hàng.</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </main>
</body>

</html>