<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout :: dynamic(~{::main})}">

<body>
    <main>
        <div th:replace="/Profile/menu_Profile"></div>
        <div class="container-fluid" style="background-color: #F0F6F9">
            <br>
            <div class="nhapTT">
                <h3 class="text10" style="margin-bottom: 20px;">Trạng thái đơn đặt</h3>
                <div class="gach"></div>

                <!-- Trạng thái các sản phẩm nằm đây nè nha -->
                <!-- Cho vòng lập chạy bên trong là ra -->
                <div th:each="ordwait : ${orderEventListWait}" th:object="${ordwait}" method="post" class="OrderStatus">
                    <div class="gach2"></div>
                    <div class="row" style="margin-left: 50px;margin-right: 50px;">
                    <div class="col-6">
                        <a class="text13">[[*{eventPost.account.fullname}]]</a>
                        <a th:data-eventOrderFolder="*{eventPost.folder}" th:data-eventOrderImage="*{eventPost.primaryImage}" th:data-eventOrderId="*{orderEventId}" th:data-eventOrderName="*{eventPost.name}" th:data-eventOrderStart="*{#dates.format(startDate,'dd-MM-yyyy')}"
                            th:data-eventOrderNote="*{note}" th:data-eventOrderNL="*{quantityAdult}" th:data-eventOrderTE="*{quantityChildren}" th:data-eventOrderEB="*{quantityBaby}" th:data-eventOrderDis="*{discount}" th:data-eventOrderPay="*{payment}" th:data-eventOrderTotal="*{#numbers.formatDecimal(sumPrice, 0,'POINT', 0,'COMMA')}"
                            onclick="showModalDetailDonEvent(this.getAttribute('data-eventOrderFolder'),
                                                                this.getAttribute('data-eventOrderImage'),
                                                                this.getAttribute('data-eventOrderId'),
                                                                this.getAttribute('data-eventOrderName'),
                                                                this.getAttribute('data-eventOrderStart'),
                                                                this.getAttribute('data-eventOrderNote'),
                                                                this.getAttribute('data-eventOrderNL'),
                                                                this.getAttribute('data-eventOrderTE'),
                                                                this.getAttribute('data-eventOrderEB'),
                                                                this.getAttribute('data-eventOrderDis'),
                                                                this.getAttribute('data-eventOrderPay'),
                                                                this.getAttribute('data-eventOrderTotal'))">
                            <button class="huybtndetail "><i class="fas fa-search"></i> Chi tiết</button>
                            </div>
                        </a>
                        <div class="col-6">
                        <a id="statusOrder" class="text14 float-right">[[*{status}]]</a>
                        </div>
                    </div>
                    <div class="gach3"></div>

                    <div class="cart-tourTT">
                        <div class="infTT row">
                            <div class="col-6">
                                <div class="row">
                                    <img th:src="@{|/assets/images/event/*{eventPost.folder}/*{eventPost.primaryImage}|}" onerror="this.src='/assets/icon/Photos-new-icon.png'" class="imgInfTT col-2">
                                    <div class="col-8">
                                        <h3>[[*{eventPost.name}]]</h3>
                                        <a>ID</a> <a style="font-weight: bold; margin-left: 7px;">[[*{orderEventId}]]</a>
                                        <br>
                                        <a>Thời gian</a> <a style="font-weight: bold; margin-left: 7px;">[[*{eventPost.time}]]</a>
                                        <br>
                                        <a>Khởi hành</a> <a style="font-weight: bold;">[[*{#dates.format(startDate, 'dd-MM-yyyy')}]]</a>
                                        <br>
                                        <a>Ngày đặt</a> <a style="font-weight: bold;">[[*{#dates.format(createDate, 'dd-MM-yyyy hh:mm a')}]]</a>
                                    </div>
                                </div>
                                <p>Số tiền thanh toán sau khi hoàn tất</p>
                            </div>

                            <div class="col-6" style="text-align: right;margin-top: auto;display: block;">
                                <div class="row">
                                    <div style="margin-left: auto;">
                                        <box-icon name='dollar-circle' type="solid" animation='tada' color='#df0000' style="width: 60px; height: 60px;"></box-icon>
                                    </div>
                                    <div style="margin-top: auto;margin-bottom: auto;">
                                        <a class="sumMoney">Tổng tiền:</a>
                                        <a class="sumMoney" style="color: red;">[[*{#numbers.formatDecimal(sumPrice, 0, 'POINT', 0, 'COMMA')}]]đ</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="margin-left: auto;">
                                        <a th:data-idorderevent="*{orderEventId}" onclick="modalHuyDonEvent(this.getAttribute('data-idorderevent'))">
                                            <button class="btn nutMauTrang" >Hủy đơn</button>
                                        </a>

                                        <a onclick="lienheEvent(
                               this.getAttribute('data-name'),
                               this.getAttribute('data-email'),
                               this.getAttribute('data-phone'),
                               this.getAttribute('data-address'))" th:data-name="*{eventPost.account.fullname}" th:data-email="*{eventPost.account.email}" th:data-phone="*{eventPost.account.phone}" th:data-address="*{eventPost.account.address}">

                                            <button class="btn nutMauDo">Liên hệ</button>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- MODAL XÁC NHẬN HỦY -->
        <div class="modal fade" id="huyDonDatEvent" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xác nhận hủy đơn</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        Bạn muốn hủy đơn có ID: <b id="iddatevent"></b>?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <a id="xacNhanXoaEvent" type="button" class="btn btn-danger">Hủy</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL CHI TIẾT ĐƠN -->
        <div class="modal fade" id="modalDetailDonEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content" style="width: 100%;">
                    <div class="modal-header" style="background-color: #E4F3FD;">
                        <div class="row">
                            <div class="col-4">
                                <img id="eventOrderImage" class="img-fluid" style="width: 200px; height: 170px; min-width: 200px; min-height: 170px;" onerror="this.src='/assets/icon/Photos-new-icon.png'">
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <input type="hidden" name="layIdEvent" id="layIdEvent">
                                    <h3 id="eventOrderName" class="detailorder"></h3>
                                </div>
                                <div style="width: 100%;" class="row">
                                    <p class="detailorder">ID: <span id="eventOrderId"></span></p>
                                    <p class="detailorder">Ngày đi: <span id="eventOrderStart"></span></p>
                                    <p class="detailorder">Ghi chú: <span id="eventOrderNote"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.L Người lớn</th>
                                    <th>S.L Trẻ em</th>
                                    <th>S.L Em bé</th>
                                    <th>Giảm giá</th>
                                    <th>Phương thức</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="eventOrderNL"></td>
                                    <td id="eventOrderTE"></td>
                                    <td id="eventOrderEB"></td>
                                    <td><span id="eventOrderDis"></span>%</td>
                                    <td id="eventOrderPay"></td>
                                    <td><span id="eventOrderTotal"></span>đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL LIÊN HỆ-->
        <div class="modal fade" id="lienheEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <h4 class="modal-title text-center" style="color: orange;" id="namelienheEvent"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true"
                             style="background-color: white;position: absolute;top: -11px;color: orange;border-radius: 20px;"
                             class="far fa-times-circle"></span>
                     </button>
                        <div class="container text-left">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <i class="fas fa-map-marked-alt iconlienhe"></i>
                                    <label>
                                     <h5>Địa chỉ</h5>
                                 </label>
                                    <div class="infolienhe">
                                        <p id="addresslienheEvent"></p>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <i class="fas fa-phone-alt iconlienhe"></i>
                                    <label>
                                     <h5> Liên hệ tư vấn khánh hàng</h5>
                                 </label>
                                    <div class="infolienhe">Điện thoại
                                        <p id="phonelienheEvent"></p>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <i class="far fa-envelope iconlienhe"></i>
                                    <label>
                                     <h5>Email </h5>
                                 </label>
                                    <div class="infolienhe">
                                        <p id="emaillienheEvent"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>