<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main})}">

<body>
    <main>
        <div style=" background-color:orange; color: black; padding: 1px 10px; margin-top: 20px;font-family: Tahoma, sans-serif;">
            <h2>Quản lý bài đăng</h2>
        </div>

        <form th:object="${tour}">
            <div class="thembai" style=" margin: 20px;">
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Tên dịch vụ:</b></div>
                    <div class="col_line5">[[*{name}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">ID:</b></div>
                    <div class="col_line5">[[*{tourId}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Tên doanh nghiệp:</b></div>
                    <div class="col_line5">[[*{account.fullname}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Số điện thoại:</b></div>
                    <div class="col_line5">[[*{account.phone}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Ngày đăng:</b></div>
                    <div class="col_line5">[[*{#dates.format(createDate, 'dd-MM-yyyy')}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Thời gian:</b></div>
                    <div class="col_line5">[[*{time}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Khởi hành:</b></div>
                    <div class="col_line5">[[*{fromCity.name}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Điểm đến:</b></div>
                    <div class="col_line5">[[*{toCity.name}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Loại vé:</b></div>
                    <div class="col_line5">-------------------------------------------------------------------------</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b style="font-weight: 100; margin-left:10px" class="labelinfo">Người lớn:</b></div>
                    <div class="col_line5">[[*{#numbers.formatDecimal(priceAdult, 0, 'POINT', 1, 'COMMA')}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b style="font-weight: 100; margin-left:10px" class="labelinfo">Trẻ em:</b></div>
                    <div class="col_line5">[[*{#numbers.formatDecimal(priceChildren, 0, 'POINT', 1, 'COMMA')}]]</div>

                </div>
                <div class="col_line4">
                    <div class="col_line6"> <b style="font-weight: 100; margin-left:10px" class="labelinfo">Em bé:</b></div>
                    <div class="col_line5">[[*{#numbers.formatDecimal(priceBaby, 0, 'POINT', 1, 'COMMA')}]]</div>

                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Giá tiền:</b></div>
                    <div class="col_line5">[[*{#numbers.formatDecimal(priceTour, 0, 'POINT', 1, 'COMMA')}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Bài tiêu biểu:</b></div>
                    <div class="col_line5">[[*{topPost?'Có':'Không'}]]</div>
                </div>
                <div class="col_line4">
                    <div class="col_line6"><b class="labelinfo">Mô tả:</b></div>
                    <div class="col_line5">
                        <div class="description" th:utext="*{descriptionTour}"></div>
                    </div>


                </div>
                <div class="col_line4">

                    <div class="extraImage">
                        <b class="labelinfo">Hình ảnh:</b><br>
                        <label>
                            <img class="extraImage2" id="thumbnailMainImage"
                                th:src="@{|/assets/images/tour/*{folder}/*{primaryImage}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'">
                        </label>
                        <label>
                            <img class="extraImage2" id="thumbnailExtraImage0"
                                th:src="@{|/assets/images/tour/*{folder}/*{extraImage1}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'" alt="hình ảnh tour" />
                        </label>
                        <label>
                            <img class="extraImage2" id="thumbnailExtraImage1"
                                th:src="@{|/assets/images/tour/*{folder}/*{extraImage2}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'" alt="hình ảnh tour" />
                        </label>
                        <label>
                            <img class="extraImage2" id="thumbnailExtraImage2"
                                th:src="@{|/assets/images/tour/*{folder}/*{extraImage3}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'" alt="hình ảnh tour" />
                        </label>
                        <label>
                            <img class="extraImage2" id="thumbnailExtraImage3"
                                th:src="@{|/assets/images/tour/*{folder}/*{extraImage4}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'" alt="hình ảnh tour" />
                        </label>
                        <label>
                            <img class="extraImage2" id="thumbnailExtraImage4"
                                th:src="@{|/assets/images/tour/*{folder}/*{extraImage5}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'" alt="hình ảnh tour" />
                        </label>
                        <label>
                            <img class="extraImage2" id="thumbnailExtraImage5"
                                th:src="@{|/assets/images/tour/*{folder}/*{extraImage6}|}"
                                onerror="this.src='/assets/icon/Photos-new-icon.png'" alt="hình ảnh tour" />
                        </label>
                    </div>
                </div>

            </div>
        </form>
    </main>
</body>

</html>