<div class="container">
  <div class="Du-lich ">
    <h2 style="margin-left: 15px; margin-top: 55px;">Du lịch tours tiêu biểu trong nước</h2>
    <p style="margin-left: 15px;">Văn hóa Việt Nam đất nước hình chữ S đậm đà bản sắc dân tộc</p>
    <div class="row container">
      <div class="row">
        <div class="col-4 sapa">
          <div class="textsapa">
            <h2>Sapa</h2>
            <p>1.300+ lượt tham quan</p>
          </div>
          <img src="/assets/images/index/dulich/sapa.jpg" class="img-sapa" alt="Sapa">
        </div>
        <div class="col-8">
          <div class="row hoian">
            <div class="texthoian">
              <h2>Hội An</h2>
              <p>2.000+ lượt tham quan</p>
            </div>
            <img src="/assets/images/index/dulich/hoian.png" class="img-hoian" alt="Hội An">
          </div>
          <div class="row">
            <div class="col-6  hagiang">
              <div class="texthagiang">
                <h2>Hà Giang</h2>
                <p>1.000+ lượt tham quan</p>
              </div>
              <img src="/assets/images/index/dulich/hagiang.jpeg" class="img-hagiang" alt="Hà Giang">
            </div>
            <div class="col-6 vungtau">
              <div class="textVungTau">
                <h2>Vũng Tàu</h2>
                <p>1.000+ lượt tham quan</p>
              </div>
              <img src="/assets/images/index/dulich/vungtau.jpg" class="img-vungtau" alt="Vũng Tàu">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="row vinhhalong">
            <div class="textVinhalong">
              <h2>Vịnh Hạ Long</h2>
              <p>4.300+ lượt tham quan</p>
            </div>
            <img src="/assets/images/index/dulich/vinhhalong.jpg" class="img-vinhhalong" alt="Vịnh Hạ Long">
          </div>
          <div class="row">
            <div class="col-6 danang">
              <div class="textdanang">
                <h2>Đà Nẵng</h2>
                <p>2.300+ lượt tham quan</p>
              </div>
              <img src="/assets/images/index/dulich/danang.jpg" class="img-danang" alt="Đà Nẵng">
            </div>
            <div class="col-6 nuicam">
              <div class="textnuicam">
                <h2>Núi Cấm</h2>
                <p>1.800+ lượt tham quan</p>
              </div>
              <img src="/assets/images/index/dulich/nuicam.jpg" class="img-nuicam" alt="Núi Cấm">
            </div>
          </div>
        </div>
        <div class="col-4 dalat">
          <div class="textdalat">
            <h2>Đà Lạt</h2>
            <p>3.000+ lượt tham quan</p>
          </div>
          <img src="/assets/images/index/dulich/dalat.jpg" class="img-dalat" alt="Đà Lạt">
        </div>
      </div>
    </div>
  </div>
</div>