<div class="row">
  <div class="container-fluid">
    <h2 class="text-center" style="margin-top: 50px;">Các event phổ biến</h2>
    <div class="row">
      <div class="col-3 Events">
        <h4>Khai trương</h4>
        <img src="/assets/images/index/sukien/khaitruong.png" alt="Khai Trương">
      </div>
      <div class="col-3 Events">
        <h4>Gala-Party</h4>
        <img src="/assets/images/index/sukien/gala.png" alt="Gala">
      </div>
      <div class="col-3 Events">
        <h4>Years & Party</h4>
        <img src="/assets/images/index/sukien/party.png" alt="Years & Party">
      </div>
      <div class="col-3 Events">
        <h4>Tổng hợp</h4>
        <img src="/assets/images/index/sukien/tonghop.png" alt="Tổng hợp">
      </div>
    </div>
  </div>
</div>