<footer class="container-fluid">
    <div class="footer-Header row">
      <div class="col-3">
        <h6 id="tieudefooter">CHĂM SÓC KHÁCH HÀNG</h6>
        <a href="#">Trung tâm trợ giúp</a> <br>
        <a href="#">BK Travel & Event</a> <br>
        <a href="#">Hướng dẫn đặ tours</a>
      </div>
      <div class="col-3">
        <h6 id="tieudefooter">Về BK TRAVEL</h6>
        <a id="a1" href="#">Giới thiệu về BK Travel</a> <br>
        <a href="#">BK Travel Blog</a> <br>
        <a href="#">Điều khoản sử dụng</a>
      </div>
      <div class="col-3">
        <h6 id="tieudefooter">THEO DÕI CHÚNG TÔI TRÊN</h6>
        <a id="a1"  href="#"><i class="fab fa-facebook"></i> Facebook</a><br>
        <a href="#"><i class="fab fa-twitter mt-3"></i> Twitter</a><br>
        <a href="#"><i class="fab fa-instagram mt-3"></i> Instagram</a>
      </div>
      <div class="col-3">
        <h6 id="tieudefooter2">VÀO CỬA HÀNG TRÊN ỨNG DỤNG</h6>
        <div class="row">
          <div class="col-4">
            <p style="color: white;">BK TRAVEL</p>
            <img src="/assets/images/index/Capture.PNG" alt="QR" style="margin-bottom: 60px;">
          </div>
          <div class="col-8">
            <a href="https://www.facebook.com/travel.since2021"><img src="/assets/images/index/IOS.PNG" alt="IOS" style="width: 127px; margin-top: 38px;"></a><br>
            <img src="/assets/images/index/CHPlay.PNG" alt="CHPlay" style="width: 130px;">
          </div>
        </div>
      </div>
    </div>

    <div style="background-color: #C4C4C4;" class="row">
      <img src="/assets/images/index/doiTac.png" alt="Đối tác" style="width: 50%; margin-left: auto; margin-right: auto; display: block;"> 
    </div>
    <div class="text-center DiaChi">
      <p>Công ty TNHH BK Travel & Event <br>
      Địa chỉ 200A Điện Biên Phủ, phường 25, quận Bình Thạnh, thành phố Hồ Chí Minh <br>
      Mã số doanh nghiệp: 0399989849 do sở Kế hoạch và Đầu tư TP Hồ Chí Minh cấp ngày 25/12/2020 <br>
      @2021 - Bản quyền thuộc về Công ty TNHH Travel & Event</p>
    </div>
  </footer>