<div class="container">
    <div class="Khuyen-mai">
        <div>
            <h2 style="margin-left: 15px; margin-top: 55px;">Chương trình khuyến mãi hấp dẫn</h2>
            <p style="margin-left: 15px;">Nhiều ưu đãi hấp dẫn, nhanh tay kẽo lỡ deal hay</p>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-none d-md-block textInformation">
                        <h5>Giảm đến 20%</h5>
                        <h6>Nghĩ mát gia đình</h6>
                        <h4>ĐỒNG HOA CẢI ĐÀ LẠT</h4>

                        <p><a>1.999.000 VNĐ/Khách</a></p>
                    </div>
                    <img src="/assets/images/index/KhuyenMai/1.png" class="d-block w-100 kMimg">
                </div>
                <div class="carousel-item">
                    <div class="d-none d-md-block textInformation">
                        <h5>Giảm đến 35%</h5>
                        <h6>Cắm trại cùng bạn bè</h6>
                        <h4>ĐỒNG CỎ ĐỒNG NAY</h4>

                        <p><a>999.000 VNĐ/Khách</a></p>
                    </div>
                    <img src="/assets/images/index/KhuyenMai/2.jpg" class="d-block w-100 kMimg">
                </div>
                <div class="carousel-item">
                    <div class="d-none d-md-block textInformation">
                        <h5>Giảm đến 20%</h5>
                        <h6>Chụp hình thỏa thích</h6>
                        <h4>LÚA MẠCH HÀ LAN</h4>

                        <p><a>11.600.000 VNĐ/Khách</a></p>
                    </div>
                    <img src="/assets/images/index/KhuyenMai/3.jpg" class="d-block w-100 kMimg">
                </div>
                <div class="carousel-item">
                    <div class="d-none d-md-block textInformation">
                        <h5>Giảm đến 10%</h5>
                        <h6>Di tích nổi bật</h6>
                        <h4>DI TÍCH LỊCH SỬ</h4>

                        <p><a>9.699.000 VNĐ/Khách</a></p>
                    </div>
                    <img src="/assets/images/index/KhuyenMai/4.jpg" class="d-block w-100 kMimg">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>