<div class="row">
  <div style="background-color: #F4F5F6; margin-top: 50px;">
    <div class="container-fluid meetingEvent">
      <h2 class="text-center" style="margin-top: 30px;">Meeting & Event</h4>
        <p class="text-center">Các địa điểm đến tuyệt đẹp và cơ sở vật chất vượt trội, bạn sẽ tìm được nơi hoàn hảo phù
          hợp với nhu cầu của bạn độc đáo và mới mẻ.</p>

        <div class="meeting row">
          <div class="col-6">
            <img src="/assets/images/index/meeting.png" class="img-meeting" alt="Meeting & Event">
          </div>
          <div class="col-6">
            <h4> Meeting - Hội nghị</h5>
              <p class="textMeeting">Những hội nghị sang trọng và tinh tế cho kế hoạch của bạn. Hội tụ đầy đủ các yếu
                tố, hiện đại từ không gian, địa điểm, phong cách.</p>
               	<a th:href="@{/introduce2}">
              	<button class="buttonTBuilding">Tìm hiểu thêm</button>
              	</a >
          </div>
        </div>
        <div class="event row">
          <div class="col-6">
            <h4 class="textEvent">Event - Sự kiện</h4>
            <p>Sự kiện là nơi diễn ra các hoạt động ý nghĩa quan trọng với đời sống xã hội như tổ chức khai trương,
              các buổi gala party, tất niên, liên hoan.</p>
            <br>
            <p>Không chỉ bao gồm những hoạt động quy mô lớn mà nó còn bao hàm cả những hoạt động mang ý nghĩa cá nhân và
              cộng đồng trong đời sống xã hội</p>
            <a th:href="@{/introduce3}">
            	<button class="buttonTBuilding">Tìm hiểu thêm</button>
            </a >
          </div>
          <div class="col-6">
            <img src="/assets/images/index/event.png" class="imgEvent" alt="Event">
          </div>
        </div>
    </div>
  </div>
</div>