<div class="container-fluid thanhNgan text-center">
    <button class="buttonThanhNgan"> <img id="iconThanhNgan" src="/assets/images/index/slideshow/icon1.png" alt="Dịch vụ"> [[#{mn.two.service}]] <a style="color: rgb(76, 74, 231);">[[#{mn.two.quality}]]</a></button>
    <button class="buttonThanhNgan"> <img id="iconThanhNgan" src="/assets/images/index/slideshow/icon2.png" alt="Giá cả"> [[#{mn.two.price}]] <a style="color: rgb(250, 187, 52);">[[#{mn.two.reasonable}]]</a></button>
    <button class="buttonThanhNgan"> <img id="iconThanhNgan" src="/assets/images/index/slideshow/icon3.png" alt="Tư vấn"> [[#{mn.two.advise}]] <a style="color: rgb(214, 70, 183);">[[#{mn.two.devoted}]]</a></button>
    <button class="buttonThanhNgan"> <img id="iconThanhNgan" src="/assets/images/index/slideshow/icon4.png" alt="Ưu đãi"> [[#{mn.two.endow}]] <a style="color: rgba(238, 95, 12, 0.867);">[[#{mn.two.hot}]]</a></button>
  </div>