<div class="row">
  <div class="container-fluid">
    <h2 class="text-center" style="margin-top: 30px;">Tổ chức tại nhà hàng & Trung tâm hội nghị sang trọng</h2>
    <div class="row nhahang">
      <div class="col-6">
        <img src="/assets/images/index/nhaHang.png" class="imgNhaHang" alt="Nhà Hàng">
      </div>
      <div class="col-6">
        <h4>Bàn ăn đặc sắc</h4>
        <p>Phong cách bày trí và các món ăn ngon, bạn sẽ trãi nghiệm những khoảnh khắc khó quên. Việc của bạn là ngồi
          xuống và thưởng thức những dịch vụ mà chúng tôi đem đến.</p>
        <a th:href="@{/introduce1}">
          <button class="buttonTBuilding">Tìm hiểu thêm</button>
        </a>
      </div>
    </div>
  </div>
</div>