<div class="container-fluid">
  <div>
    <h2 class="text-center" style="margin-top: 30px;">Team buiding & Các cuộc chơi sôi động</h2>

    <div class="row TeamBuilding">
      <div class="col-6">
        <p class="textTBuilding1">Team building nơi giải trí sau những ngày nổ
          lực làm việc căng thẳng </p>
        <p class="textTBuilding2">Tận hưởng nhiều hơn nữa với các chương trình hội thao tiếp sức cùng teambuilding,
          động lực kết hợp tinh thần đồng đội cùng nhau chiến hết mình, thỏa sức bức phá vượt qua giới hạn.</p>
		<a th:href="@{/introduce4}">
        	<button class="buttonTBuilding">Tìm hiểu thêm</button>
        </a >
      </div>
      <div class="col-6">
        <img class="imgTeamBuilding" src="/assets/images/index/teamBuilding.png" alt="Team Building">
      </div>
    </div>
  </div>
</div>