<div class="container-fluid">
  <div>
    <h2 class="text-center" style="margin-top: 30px;">Tours du lịch nước ngoài</h2>
    <p class="text-center">Khám phá thế giới quanh ta, xách ba lô lên và đi, đi để trãi nghiệm</p>

    <div class="row container-fluid">
      <div class="col-2.5 DLNN">
        <div class="nameNN">
          <h2>Châu Mỹ</h2>
          <p>11 địa điểm</p>
        </div>
        <img src="/assets/images/index/NuocNgoai/chaumy.png" alt="Châu Mỹ">
      </div>

      <div class="col-2.5 DLNN">
        <div class="nameNN">
          <h2>Châu Âu</h2>
          <p>11 địa điểm</p>
        </div>
        <img src="/assets/images/index/NuocNgoai/chauau.png" alt="Châu Âu">
      </div>

      <div class="col-2.5 DLNN">
        <div class="nameNN">
          <h2>Châu Á</h2>
          <p>11 địa điểm</p>
        </div>
        <img src="/assets/images/index/NuocNgoai/chaua.png" alt="Châu Á">
      </div>

      <div class="col-2.5 DLNN">
        <div class="nameNN">
          <h2>Châu Úc</h2>
          <p>11 địa điểm</p>
        </div>
        <img src="/assets/images/index/NuocNgoai/chauuc.png" alt="Châu Úc">
      </div>

      <div class="col-2.5 DLNN">
        <div class="nameNN">
          <h2>Châu Phi</h2>
          <p>11 địa điểm</p>
        </div>
        <img src="/assets/images/index/NuocNgoai/chauphi.png" alt="Châu Phi">
      </div>
    </div>
  </div>
</div>